# Core Git settings
[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  whitespace = trailing-space,space-before-tab
  editor = vimr -s --wait
  pager = delta

[user]
  name = George Song
  email = george@gsong.dev

[init]
  defaultBranch = main

# Git behavior and workflow
[fetch]
  prune = true
  pruneTags = true

[pull]
  rebase = true

[push]
	autoSetupRemote = true
  followTags = true

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[merge]
  conflictstyle = zdiff3

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true

[commit]
  verbose = true

[help]
  autocorrect = prompt

# UI and display settings
[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[interactive]
  diffFilter = delta --color-only

# Tool-specific settings
[delta]
  navigate = true

[diff]
  tool = p4merge

[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 

[merge]
  tool = p4merge

[mergetool]
  keepBackup = false

[mergetool "p4merge"]
  path = /Applications/p4merge.app/Contents/Resources/launchp4merge

[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true

# External service settings
[github]
  username = gsong
