[apply]
  whitespace = fix

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true

[commit]
  template = /Users/george/.stCommitMsg

[core]
  autocrlf = input
  excludesfile = /Users/george/.gitignore_global
  ignorecase = false
  pager = delta
  safecrlf = warn
  whitespace = trailing-space,space-before-tab
  editor = vimr -n --wait

[delta]
  syntax-theme = Monokai Extended Light

[diff]
  tool = p4merge
  algorithm = histogram

[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 

[fetch]
  prune = true
  pruneTags = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[github]
  username = gsong

[init]
  defaultBranch = main

[merge]
  tool = p4merge

[mergetool]
  keepBackup = false

[mergetool "p4merge"]
  path = /Applications/p4merge.app/Contents/Resources/launchp4merge

[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true

[pull]
  ff = only

[push]
  default = current

[rebase]
  updateRefs = true

[user]
  name = George Song
  email = george@gsong.dev
